@import 'include-media';
$breakpoints: (phone: 320px, tablet: 800px, desktop: 1024px);

$primary-color: #333;

// Breakpoint between mobile and desktop layout
$break-small: 480px;
$break-medium: 600px;
$makerspace-orange: #FF8B37;

html,
body {
    height: 100%;
}

.uk-button {
    border-radius: 2px;
}

#root {
    // position: absolute;
    width: 100%;
    // left: 0px;
    // right: 0px;
    display: flex;
    flex-direction: row;
    min-height: 100%;

    @include media("<=tablet") {
        flex-direction: column;
    }

    color: $primary-color;
    justify-content: center;
}

#left-sidebar {
    flex: 0 0 auto;
    padding: 10px;

    @include media(">tablet") {
        width: 250px;

        // Designed using: https://shadows.brumm.af/
        box-shadow:
            0px 0.1px 0.3px rgba(0, 0, 0, 0.034),
            0px 0.3px 0.7px rgba(0, 0, 0, 0.048),
            0px 0.5px 1.3px rgba(0, 0, 0, 0.06),
            0px 0.9px 2.2px rgba(0, 0, 0, 0.072),
            0px 1.7px 4.2px rgba(0, 0, 0, 0.086),
            0px 4px 10px rgba(0, 0, 0, 0.12);

        .sidebar-fixed-content {
            width: 250px - 5px;
            position: fixed;
            top: 0px;
            bottom: 0px;
        }
    }

    @include media("<=tablet") {

        .sidebar-fixed-content {
            width: 100%;
            text-align: center;

            img {
                width: 50%;
                max-width: 250px;
            }
        }

        li a {
            justify-content: center;
        }
    }

    // Required for the delete button to be placed on the same row as the category
    li a {
        display: inline-block;
    }

    .uk-nav-default {
        margin-top: 20px;
    }

    .sidebar-buy-btn {
        margin-top: 40px;
        width: 100%;
        opacity: 1;
        transition: opacity 200ms;

        a {
            color: #FFF;
        }
    }

    li.active > a {
        color: #444;
    }

    li a {
        .uk-icon {
            margin-right: 10px;
        }

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar-buy-btn.cart-empty {
        opacity: 0.5;
    }

    @include media("<=tablet") {
        .sidebar-buy-btn {
            display: block;
            position: fixed;
            bottom: 0px;
            left: 0px;
            z-index: 2;
            border-radius: 0px;
        }

        .sidebar-buy-btn.cart-empty {
            display: none;
        }
    }
}

.product.active {
    background: #bfddfc;
}

.product-list {
    list-style: none;
    padding-left: 10px;
    width: 100%;

    h3 {
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

.product-container-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.layout-grid {
    .product-container {
        width: 230px;
        margin: 10px;
        flex-direction: column;
    }

    .product-image-container {
        width: 100%;
        height: 230px;
    }

    .product {
        flex: 1 0 auto;

        .product-input {
            flex: 0 0 auto;
        }
    }
}

.layout-list {
    .product-image-container {
        width: 50px;
        height: auto;

        img {
            top: 0;
        }
    }

    .product {
        margin-left: 6px;
    }
}

.layout-table {
    .product-image-container {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .product {
        flex-direction: row;

        .product-line {
            width: auto;
        }

        .product-input {
            flex: 0 0 auto;
            margin-left: 6px;
        }
    }
}

.product-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.product-image-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 240px;

    img {
        display: block;
        margin: auto;
        max-height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.product {
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;

    @include media("<=tablet") {
        border-bottom: 1px solid #676768;
    }

    .uk-button {
        flex: 0 1 50px;
        color: #fff;
        margin: 0;
        text-transform: none;
        min-width: 0px;
    }

    @include media("<=tablet") {
        .number-add {
            display: none;
        }
    }

    .product-line {
        display: flex;
        align-content: stretch;
        flex: 1 0 auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .product-title {
        flex: 1 1 auto;
        color: #333;
        overflow: hidden;
        line-height: 1.5em;
        max-height: 3em;
    }

    input {
        flex: 1 1 auto;
        text-transform: none;
        border-radius: 2px 0px 0px 2px;
    }

    .product-price {
        flex: 0 0 auto;
        white-space: pre;
        padding-left: 10px;
    }

    .product-amount {
        width: 45px;
        border-left: 1px solid #EEE;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding-right: 6px;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        -moz-appearance: textfield;
        text-align: right;
        font-size: 10pt;
    }

    .product-unit {
        border-top: 1px solid #EEE;
        border-right: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        width: 40px;
        padding-top: 3px;
        text-align: center;
        background: #EEE;
        font-weight: bold;
        color: #666;
        margin-right: 5px;
        border-radius: 0px 2px 2px 0px;
    }

    .number-add {
        text-align: center;
        padding: 0px;
        min-width: 40px;
    }
}

.product-search-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .product-search {
        flex: 1 0 auto;
        margin-right: 10px;
    }

    .toggle-product-images {
        display: inline-flex;
        height: 100%;
        min-height: 35px;
        margin-left: 10px;
        padding: 0;
        flex: 0 0 auto;

        .uk-icon-button {
            border-radius: 0;
        }

        .uk-icon-button:first-child {
            border-radius: 10px 0 0 10px;
        }

        .uk-icon-button:last-child {
            border-radius: 0 10px 10px 0;
        }

        .layout-button {
            width: 50px;
            border: 1px solid #AAA;
        }

        .selected {
            background: #CCC;
        }
    }
}

.product:hover .edit-display.active {
    opacity: 1.0;
    visibility: visible;
}

.product-add {
    margin-left: 24px;
}

.category-add {}

.category-edit-box {
    position: absolute;
    right: 0px;
    display: inline-block;

    .category-delete,
    .category-edit {
        margin: 2px;
        line-height: 12px;
        height: 28px;
    }
}

.progress-spinner {
    // visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear 0.2s;
    position: absolute;
    left: 5px;
    top: 4px;
}

.progress-spinner.progress-spinner-visible {
    opacity: 1;
    transition: opacity 0.0s linear 0s;
    // visibility: visible;
}


#pay-module.non-empty {
    border-color: #7C7;

    #pay-module-open-button {
        background: #7C7;
    }
}

#pay-module {
    padding-left: 10px;
    padding-right: 10px;
}

#pay-module button,
#pay-button {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-transform: none;

    // Required for progress spinner
    position: relative;

    &:disabled {
        background: #CCC;
    }
}

#pay-login {
    display: none;
}

#pay-login.active {
    display: block;
}

#pay {
    display: none;
}

#pay.active {
    display: block;
}

#product-save {
    // Required for progress spinner
    position: relative;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    // height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

#card-errors {
    font-size: 14pt;
    color: #D61;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


// Product edit form

.product-edit-form {
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    >div {
        margin-top: 5px;
    }

    .product-edit-price {
        display: flex;
        flex-direction: row;

        input {
            display: inline-block;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            display: inline-block;
            background-color: #f9f9f9;
            border-width: 1px 1px 1px 0px;
            border-style: solid;
            border-color: #e5e5e5;
            font-weight: bold;
            padding-top: 6px;
        }
    }

    label {
        padding-left: 1px;
    }

    input,
    textarea,
    select {
        border-radius: 3px;
    }

    button#product-save,
    button#product-cancel {
        margin-top: 20px;
        min-width: 120px;
    }

    .product-image img {
        max-height: 100px;
        margin-right: 5px;
    }
}

// Temporary thing
form input.readonly-input {
    color: #333 !important;
}

.receipt-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EEE;

    .product-title {
        color: white;
        flex: 5;
    }

    a.product-title {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .receipt-item-count {
        flex: 1;
        min-width: 100px;
        text-align: right;
    }

    .receipt-item-amount {
        flex: 1;
        min-width: 100px;
        text-align: right;
    }
}

#content {
    max-width: 800px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;

    @include media(">tablet") {
        padding-top: 100px;
    }

    flex: 1 1 auto;
}

.content-centering {
    width: 100%;
    max-width: 600px;
}

#single-page-content {
    box-sizing: content-box;
    min-width: 320px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;

    @include media(">550px") {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

.purchase-history {
    h1 {
        margin-bottom: 0px;
    }
}

.header-logo {
    text-align: center;

    // Fix width and height to ensure page layout doesn't change as the image is loaded
    img {
        height: 210px;
        width: 300px;
    }
}

.text-navigation-footer {
    text-align: center;

    a {
        color: #8bbdef;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.receipt {
    padding-left: 20px;
    padding-right: 20px;

    h1 {
        text-align: center;
        margin-bottom: 40px;
    }
}

.receipt-message {
    text-align: center;
    color: #CCC;
}

.history-item-completed {
    .receipt-header {
        background: #469ABE;
        transition: background 100ms;
    }

    a.receipt-header:hover {
        background: saturate(darken(#469ABE, 5%), 12%);
    }

    .receipt-items {
        background: #2785AD;
    }

    .receipt-amount {
        background: #07719F;
    }
}

.history-item-pending {
    .receipt-header {
        background: #BE9A46;
        transition: background 100ms;
    }

    a.receipt-header:hover {
        background: saturate(darken(#BE9A46, 5%), 12%);
    }

    .receipt-items {
        background: #AD8527;
    }

    .receipt-amount {
        background: #9F7107;
    }
}

.history-item-failed {
    .receipt-header {
        background: #BE4646;
        transition: background 100ms;
    }

    a.receipt-header:hover {
        background: saturate(darken(#BE4646, 5%), 12%);
    }

    .receipt-items {
        background: #AD2727;
    }

    .receipt-amount {
        background: #9F1107;
    }
}

.history-item {
    color: #fff;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 20px;

    // Designed using: https://shadows.brumm.af/
    box-shadow:
        0px 0.1px 0.3px rgba(0, 0, 0, 0.02),
        0px 0.3px 0.7px rgba(0, 0, 0, 0.028),
        0px 0.5px 1.3px rgba(0, 0, 0, 0.035),
        0px 0.9px 2.2px rgba(0, 0, 0, 0.042),
        0px 1.7px 4.2px rgba(0, 0, 0, 0.05),
        0px 4px 10px rgba(0, 0, 0, 0.07);

    .receipt-header {
        display: block;
        margin-bottom: 0px;

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        color: white;

        &:hover {
            text-decoration: none;
        }

        span {
            font-size: 16pt;
            color: #FFF;
        }
    }

    .receipt-date {
        color: rgba(255, 255, 255, 0.5);
        float: right;
    }

    .receipt-payment-status {
        color: rgba(255, 255, 255, 0.5);
        float: left;
    }

    .receipt-items {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .receipt-item {
        border-bottom: none;
    }

    .receipt-amount {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18pt;
        display: flex;
        flex-direction: row;

        .receipt-amount-value {
            flex: 5;
            text-align: right;
        }
    }
}

.product-view {
    background: #2785AD;
    color: white;
    overflow: hidden;
    margin-top: 5px;
    padding-top: 0px;
    padding: 0px;
    margin-bottom: 0px;

    @include media(">550px") {
        border-radius: 5px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    }

    color: white;
    #images {
        background: white;

        img {
            width: 100%;
        }
    }

    a {
        color: white;
    }

    h1 {
        color: white;
        background: #469ABE;
        text-align: center;
        padding: 20px;
        margin: 0px;
    }

    .product-description {
        padding-left: 20px;
        padding-right: 20px;
    }

    .product-price {
        text-align: center;
        width: 100%;
        display: block;
        background: #07719F;
        height: 40px;
        font-size: 16pt;
        padding-top: 5px;
    }

    .centered-product-count {
        margin-top: 14px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;

        >div {
            background: #07719f;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #469abe;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex: 0 1 200px;
        }

        input {
            outline: none;
            background: none;
            border: none;
            border-right: 1px solid #4699be;
            border-left: 1px solid #4699be;
            padding: 0px 8px 0px 8px;
            margin: 0px;
            display: inline-block;
            color: white;
            text-align: center;
            flex: 0 1 50px;
            font-size: 12pt;
            background: #07719f;
            transition: background 200ms;
            // Note: required in firefox, but not in chrome apparently
            min-width: 0px;

            // Turn off input spinner
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                // Turn off input spinner
                -webkit-appearance: none;
                margin: 0;
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }

            &:focus {
                background: #00628f;
            }
        }

        .product-unit {
            text-align: center;
            flex: 0 1 50px;
            padding: 3px 8px 0px 8px;
            border-right: 1px solid #4699be;
        }

        button {
            outline: none;
            color: white;
            margin: none;
            border: none;
            flex: 0 1 50px;
            background: #07719f;
            transition: background 200ms;

            &:focus {
                background: #006895;
            }

            &:hover {
                background: #00628f;
            }
        }
    }

    .product-image {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
            border-radius: 3px;
            margin: 5px;
            max-width: 100%;
        }
    }
}

.product-nav-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;

    a {
        display: inline-block;
        color: white;
        background: transparentize(#4699be, 0.3);
        transition: 100ms background;
        border-radius: 5px;
        flex: 1 1 0;
        margin-bottom: 5px;
        padding: 6px 10px 6px 10px;

        &:hover {
            background: #4699be;
            text-decoration: none;
        }
    }

    .product-nav-left {
        margin-right: 5px;
    }

    .product-nav-right {
        margin-left: 5px;
        text-align: right;
    }
}

#cart {
    padding-top: 0px;
    padding-bottom: 10px;
    list-style: none;
    padding-left: 0px;

    li {
        padding-right: 5px;
    }

    .product-delete {
        @include media("<=550px") {
            display: none;
        }
    }
}

.cart-header {
    margin-left: 12px;
}

.cartpage {
    .text-navigation-footer {
        margin-top: 30px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.empty-cart-text {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 20pt;
}

// For membership page

.member-form {
    max-width: 600px;
}

.member-key-box {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.member-key-icon {
    padding: 5px;
    color: white;
    border-radius: 100px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
    text-align: center;
}

.member-key-color-active {
    background: #87c92b;
}

.member-key-color-warning {
    background: #eca72f;
}

.member-key-tag {
    min-width: 100px;
}

.member-key-color-inactive {
    background: #c92b2b;
}

.member-key-status {
    flex-grow: 1;
}

input:invalid {
    border-color: red;
}

.statistics-member-stats {
    margin-bottom: 30px;
    margin-top: 30px;
}

.statistics-member-stats-box {
    padding: 8px;
    background: #4699be;
    border-radius: 5px;
    color: white;
}

.statistics-member-stats-type {
    width: 240px;
    margin-right: 20px;
    font-weight: bold;
}

.statistics-member-stats-value {}

.statistics-member-stats-row {
    display: flex;
    flex-direction: row;
}

$palette1: #5C2849;
$palette2: #A73E5C;
$palette3: #EC4863;
$palette4: #FF733F;
$palette5: #A8C545;
$palette-green: $palette5;
$palette-red: $palette4;

.quiz-background {
    width: 100%;
    min-height: 100%;
    background-color: $palette1;
}

#content.quizpage {
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px;

    @media screen and (max-width: 900px) {
        padding: 20px;
    }

    justify-content: start;
    flex-direction: column;

    .quiz-embed {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;

        iframe {
            max-width: 100%;
        }
    }

    a {
        color: #d45277;
    }

    .uk-button {
        color: white
    }

    &.quiz-complete {
        background-color: $palette5;
        color: white;
        justify-content: center;
        text-align: center;

        h2 {
            font-family: 'Bitter';
            color: white;
        }
    }


    h1 {
        font-family: 'Bitter', serif;
        margin-top: 0px;
        padding-top: 0px;
        font-size: 30pt;
        text-align: center;
    }

    .question-text {
        font-style: italic;
    }

    p {
        margin-bottom: 5px;
    }

    .quiz-button-start {
        align-self: center;
        width: 200px;
    }

    .quiz-login {
        align-self: center;

        a {
            color: $palette2;
        }
    }

    ul {
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 0px;
    }

    .question-options li {
        padding: 8px;
        list-style: none;
        border-radius: 5px;
        border: 1px solid $palette2;
        padding-left: 10px;
        // transition: 200ms background-color;
        transition: 200ms box-shadow;
        color: black;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        margin: 12px;
        cursor: pointer;

        // Prevents text selection.
        // This helps in particular on mobile devices where clicking a button might otherwise select its text
        user-select: none;

        &:hover {
            // background-color: #37d;
            // color: white;
            box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        }

        &.question-option-correct {
            color: white;
            border: 1px solid darken($palette-green, 0.1);
            background: $palette-green;
        }

        &.question-option-incorrect:not(.question-option-selected) {
            opacity: 0.5;
        }

        &.question-option-selected.question-option-correct {
            color: white;
            border: 1px solid darken($palette-green, 0.1);
            background: $palette-green;
        }

        &.question-option-selected.question-option-incorrect {
            color: white;
            border: 1px solid darken($palette-red, 0.1);
            background: $palette-red;
        }
    }

    .question-answer-info {
        // padding: 8px;
        // border-radius: 5px;
        // color: white;
        margin: 12px;
        // box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    }

    .question-answer-info-incorrect {
        // border: 1px solid darken($palette-red, 0.1);
        // background: $palette-red;
        color: $palette-red;
    }

    .question-answer-info-correct {
        // border: 1px solid darken($palette-green, 0.1);
        // background: $palette-green;
        color: $palette-green;

    }

    .question-answer-description {
        margin: 5px;
        margin-bottom: 15px;
        font-style: italic;
    }

    .uk-button-primary {
        margin-top: 20px;
        background-color: $palette2;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        transition: 200ms box-shadow;

        &:hover {
            box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
        }
    }

    @media screen and (max-width: 900px) {
        margin: 0px;
        border-radius: 0px;
        background-color: $palette1;
        color: white;

        h1 {
            font-size: 20pt;
            color: white;
        }

        h2 {
            font-size: 20pt;
            color: white;
        }

        .question-answer-info {
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
        }

        .question-options li {
            background-color: $palette2;
            color: white;
            border: 1px solid rgba(0, 0, 0, 0);

            // Stronger shadows
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);

            &:hover {
                box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .quiz-more-questions {
        margin-top: 60px;

        ul {
            list-style: none;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        li {
            border: none;
            box-shadow: none;
            margin: 20px;
        }

        img {
            width: 64px;
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
            transition: 200ms filter;

            &:hover {
                filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.4));
            }
        }

        @media screen and (max-width: 900px) {
            margin-top: 30px;

            ul {
                margin-top: 20px;
            }
        }
    }
}

.banner {
    background: #cd1515;
    padding: 20px;
    color: white;
    text-align: center;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.4); */

    a {
        color: white;
        text-decoration: underline;
    }
}

.sidebar-banner-adjust {
    position: initial !important;
}

#courses-contents {
    display: flex;
    flex-direction: column;

    .course-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;

        color: #333;
        border-radius: 4px;
        margin-bottom: 30px;
        overflow: hidden;
        text-decoration: none;
        background: white;
        transition: 100ms background-color;

        // Designed using: https://shadows.brumm.af/
        box-shadow:
            0px 0.1px 0.3px rgba(0, 0, 0, 0.034),
            0px 0.3px 0.7px rgba(0, 0, 0, 0.048),
            0px 0.5px 1.3px rgba(0, 0, 0, 0.06),
            0px 0.9px 2.2px rgba(0, 0, 0, 0.072),
            0px 1.7px 4.2px rgba(0, 0, 0, 0.086),
            0px 4px 10px rgba(0, 0, 0, 0.12);

        padding-left: 20px;
        padding-right: 0px;

        >span {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .course-not-completed,
        .course-completed {
            flex-grow: 0;
            flex-shrink: 0;
            align-self: stretch;
            width: 140px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        .course-completed {
            background: #68be46;
            color: white;
            transition: 100ms background-color;
        }

        &:hover .course-completed {
            background: saturate(darken(#68be46, 5%), 12%);
        }

        .course-not-completed {
            background: #469ABE;
            color: white;
            transition: 100ms background-color;
        }

        &:hover {
            background: darken(#FFF, 2%);
        }

        &:hover .course-not-completed {
            background: saturate(darken(#469ABE, 5%), 12%);
        }

        .course-not-completed>div,
        .course-completed>div {
            position: relative;
            top: -10px;
            left: -10px;
            width: 70px;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            color: white;
            border-radius: 50%;

            // Designed using: https://shadows.brumm.af/
            box-shadow:
                0px 0.1px 0.3px rgba(0, 0, 0, 0.02),
                0px 0.3px 0.7px rgba(0, 0, 0, 0.028),
                0px 0.5px 1.3px rgba(0, 0, 0, 0.035),
                0px 0.9px 2.2px rgba(0, 0, 0, 0.042),
                0px 1.7px 4.2px rgba(0, 0, 0, 0.05),
                0px 4px 10px rgba(0, 0, 0, 0.07);
        }
    }
}