<!DOCTYPE html>
<html>
    <head>
        <title>{{ product.name }} - Stockholm Makerspace Webshop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url('static/uikit/css/uikit.min.css') }}" />
        <link rel="stylesheet" href="{{ url('static/style.css') }}" />
        <script src='{{ url("static/uikit/js/uikit.min.js") }}'></script>
        <script src='{{ url("static/uikit/js/uikit-icons.min.js") }}'></script>
        <script src='{{ url("static/js/product.js") }}'></script>
        <script id="product-data", type="application/json">
            {{ product_json|safe }}
        </script>
        {% include 'meta.html' %}
    </head>
    <body>
        <div id="single-page-content">
            <div class="product-nav-buttons">
                <a class="product-nav-left" href='{{ url("") }}'><span uk-icon="arrow-left"></span> Tillbaka</a>
                <a class="product-nav-right" href='{{ url("cart") }}'>Min kundvagn<span id='cart-sum'></span> <span uk-icon="cart"></span></a>
            </div>
            <div class="product-view" data-id="{{ product.id }}">
                <!-- <div class="receipt-image">
                    <img src='{{ url("static/images/logo-transparent-500px-300x210.png") }}' />
                </div> -->
                <h1>{{ product.name }}</h1>
                <span class="product-price">{{Decimal(product.price) * product.smallest_multiple}} {{currency}}/{{product.unit if product.smallest_multiple == 1 else product.smallest_multiple|string + product.unit }}</span>

                <div class="centered-product-count">
                    <div>
                        <button type="button" class="number-subtract" data-amount="1" uk-icon="minus"></button>
                        <input type="number" min=0 max=9999 step={{product.smallest_multiple}} placeholder="0" class="product-amount"></input>
                        <span class="product-unit">{{product.unit}}</span>
                        <button type="button" class="number-add" data-amount="1"  uk-icon="plus"></button>
                    </div>
                </div>

                <div class="product-description">
                    <p>{{ product.description|safe }}</p>
                </div>

                {% for image in images %}
                    <div>
                        <a class="product-image uk-inline" href='{{url("static/product_images/" + image.path)}}' data-caption="{{image.caption}}">
                            <img src='{{url("static/product_images/" + image.path)}}' alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
