<!DOCTYPE html>
<html>
    <head>
        <title>Tack för ditt köp - Makerspace Webshop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url('static/uikit/css/uikit.min.css') }}" />
        <link rel="stylesheet" href="{{ url('static/style.css') }}" />
        <script src='{{ url("static/uikit/js/uikit.min.js") }}'></script>
        <script src='{{ url("static/uikit/js/uikit-icons.min.js") }}'></script>
        {% include 'meta.html' %}
        {% if transaction.status == "pending" %}
            <meta http-equiv="refresh" content="3">
        {% endif %}
    </head>
    <body>
        <div id="single-page-content" class="receipt">
            <div class="header-logo">
                <a href="/shop"><img src='{{ url("static/images/logo-transparent-500px-300x210.png") }}' /></a>
            </div>
            {% if transaction.status == "failed" %}
                <h1>Din betalning misslyckades</h1>
            {% elif transaction.status == "pending" %}
                <h1>Din betalning har inte bekräftats ännu. Var god vänta.</h1>
            {% elif transaction.status == "completed" %}
                <h1>Tack för ditt köp!</h1>
                <div class="history-item history-item-{{transaction.status}}">
                    <h3><a href="/shop/receipt/{{transaction.id}}">{{ transaction.created_at|format_datetime }}</a><span class="receipt-id">Kvitto {{ transaction.id }}</span></h3>
                    <div class="receipt-items">
                        {% for product, cartItem in cart %}
                            <div class="receipt-item">
                                <a class="product-title" href="/shop/product/{{ product.id }}">{{ product.name }}</a>
                                <span class="receipt-item-count">{{ cartItem.count }} {{ product.unit }}</span>
                                <span class="receipt-item-amount">{{ cartItem.amount }} {{ currency }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="receipt-amount">
                        <span>Summa</span>
                        <span class="receipt-amount-value">{{ transaction.amount }} {{ currency }}</span>
                    </div>
                    <div class="receipt-items">
                        <div class="receipt-item">
                            <span class="product-title">Medlem</span>
                            <span class="receipt-item-amount" style="min-width: 200px;">{{ member.firstname }} {{ member.lastname }} #{{ member.member_number }}</span>
                        </div>
                    </div>
                </div>
                <div class="receipt-message">
                    <p>Ett kvitto har också skickats via email.</p>
                    <p>Stockholm Makerspace - Drottning Kristinas väg 53, 114 28 Stockholm</p>
                </div>
            {% endif %}
            <div class="text-navigation-footer">
                <a href='/member'>Medlemsvy</a>
                <a href='{{ url("member/history") }}'>Köphistorik</a>
                <a href='{{ url("") }}'>Webshop</a>
            </div>
        </div>
    </body>
</html>
