<!DOCTYPE html>
<html>
    <head>
        <title>Makerspace Webshop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ STATIC }}/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="{{ STATIC }}/style.css" />
        <script src='{{ STATIC }}/uikit/js/uikit.min.js'></script>
        <script src='{{ STATIC }}/uikit/js/uikit-icons.min.js'></script>
        <script src='{{ STATIC }}/js/shop.js'></script>
        <script id="product-data", type="application/json">
            {{ product_json|safe }}
        </script>
        {% include 'meta.html' %}
    </head>
    <body>
        <div id="root">
            <div id="left-sidebar">
                <div class="sidebar-fixed-content">
                    <img src='{{ STATIC }}/images/logo-transparent-500px-300x210.png' />
                    <h3>Kategorier</h3>
                    <ul class="uk-nav uk-nav-default">
                        {% for cat in categories %}
                            <li>
                                <a href="#category{{ cat.id }}" uk-scroll><span uk-icon="tag"></span> {{ cat.name }}</a>
                                <div class="category-edit-box">
                                    <button data-id="{{ cat.id }}" data-name="{{ cat.name }}" class="category-edit edit uk-button uk-button-primary uk-button-small" uk-icon="pencil"></button>
                                    <button data-id="{{ cat.id }}" class="category-delete edit uk-button uk-button-danger uk-button-small" uk-icon="trash"></button>
                                </div>
                            </li>
                        {% endfor %}
                        <li>
                            <button type="button" class="uk-button uk-button-primary uk-button-small edit category-add" uk-icon="plus"></button>
                        </li>
                        <li>
                            <a href="cart"><span uk-icon="cart"></span> Min kundvagn<span id="cart-sum"></span></a>
                        </li>
                        <li>
                            <a href="member/history"><span uk-icon="history"></span> Min köphistorik</a>
                        </li>
                        <li>
                            <a href="/member"><span uk-icon="user"></span> Medlemsvy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <button id="edit" class="uk-icon-button" uk-icon="icon: pencil"><span>Edit</span></button>
                <ul class="product-list">
                </ul>
                <a class="uk-button uk-button-primary uk-button-small edit product-add" href="product/create" uk-icon="plus"></a>
            </div>
        </div>
    </body>
</html>
