# Keeping all dependencies in one file for simplicity. Pyinstaller
# will only pick direct depencencies into the windows runtime.

# Runtime dependencies
pyodbc
sqlalchemy
pytz
psutil
requests
iso8601
jsonschema==2.6.0

# Build/test dependencies
pyinstaller
nose
factory_boy
pycodestyle
coverage
coveralls
