{% extends "email_body_base.html" %}

{% block swedish %}
<h2>Hej {{member.firstname}}</h2>
<p>(See below for English).</p>
<p>
  Ditt labbmedlemskap i {{translate("brand:makerspace_name")}} gick ut den {{labaccess_end_date}}, det har gått
  {{days_after_expiration}} dagar sedan att ditt labbmedlemskap gått ut vilket innebär att din låda och
  dess innehåll nu tillfallit föreningen i enlighet med gällande labbmedlemsavtal.
</p>
<p>
  Om du anser att detta inte stämmer, hör av dig till <a href="mailto:{{translate('brand:email')}}">{{translate("brand:email")}}</a><br/>
  Med vänliga hälsningar,<br/>
  {{translate("brand:makerspace_name")}}<br/>
</p>
{% endblock %}

{% block english %}
<h2>Hi {{member.firstname}}</h2>
<p>
  Your lab membership in {{translate("brand:makerspace_name")}} expired on {{labaccess_end_date}}, you have not had an active
  lab membership for {{days_after_expiration}} days which means that your lab storage box and all of its
  contents now belong to the {{translate("brand:makerspace_name")}} according to the lab membership agreement.
</p>
<p>
  If you feel that this is not the case, please contact <a href="mailto:{{translate('brand:email')}}">{{translate("brand:email")}}</a> as soon as possible.<br/>
  Sincerely,<br/>
  {{translate("brand:makerspace_name")}}<br/>
</p>
{% endblock %}
