.env
env
venv
.venv
*.tsv
logs
__pycache__/
.idea
.envrc
.mypy_cache
# For VIM temp files
*.swp
.webshop_product_images/
node_modules
.pytest_cache
.test/selenium-screenshots
.project
.pydevproject
.buildpath
.settings
public/dist
public/static/js
local.mk
# MkDocs static site
site/

# VS code
.vscode/launch.json
