# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "uikit-almost-flat.css$|^public/static/uikit|^public/ts/generated_locales/|^api/src/i18n/|^public/ts/locales.ts"
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
    - repo: https://github.com/astral-sh/ruff-pre-commit.git
      rev: v0.15.0
      hooks:
          - id: ruff
          - id: ruff-format
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier
            types_or:
                [
                    javascript,
                    jsx,
                    ts,
                    tsx,
                    json,
                    yaml,
                    markdown,
                    css,
                    scss,
                    html,
                ]
            args: [--cache]
