services:
  db2:
    volumes:
      - logs:/var/www/html/storage/logs
    ports:
      - "3307:3306"

  api:
    environment:
      TEST: "true"
      TEST_SERVICE_TOKEN:
      LOG_DIR: "" # Disable persistent logs for tests

  public:
    environment:
      HOST_BACKEND: "api"

  admin:
    environment:
      HOST_BACKEND: "api"

  selenium:
    image: selenium/standalone-chrome-debug
    networks:
      - makeradmin
    ports:
      - "4444"
    volumes:
      - /dev/shm:/dev/shm

  email-dispatcher:
    command: ["/bin/sleep", "3600"]
    environment:
      MAILGUN_DOMAIN: ""
      MAILGUN_KEY: ""

  test:
    image: makeradmin/test:1.0
    build:
      context: .
      dockerfile: api/TestDockerfile
    ports:
      - "5678:5678"
    networks:
      - makeradmin
    command:
      - "/work/test_run.sh"
    volumes:
      - .test:/work/.test
    depends_on:
      - admin
      - public
      - api
      - selenium
    environment:
      MYSQL_HOST: db2
      MYSQL_DB:
      MYSQL_PORT:
      MYSQL_USER:
      MYSQL_PASS:
      WEBDRIVER_TYPE: "REMOTE_CHROME"
      TEST_IS_INSIDE_DOCKER: "true"
      TEST_SERVICE_TOKEN:
      HOST_FRONTEND: "http://admin"
      HOST_BACKEND: "http://api"
      HOST_PUBLIC: "http://public"
      APIGATEWAY: "api"
      STRIPE_PRIVATE_KEY:
      STRIPE_PUBLIC_KEY:
      STRIPE_CURRENCY:
      TEST_PARALELLISM:
      SELENIUM_BASE_TIMEOUT:
      SELENIUM_SCREENSHOT_DIR: "/work/.test/selenium-screenshots"
      ACCESSY_LABACCESS_GROUP: "00000000-0000-0000-0000-000000000000"
      ACCESSY_SPECIAL_LABACCESS_GROUP: "00000000-0000-0000-0000-000000000001"
      PYTEST_ADDOPTS:
      WAIT_FOR_DEBUGGER:
      LOG_DIR: "" # Disable persistent logs for tests

volumes:
  logs:
