<!DOCTYPE html>
<html>
    <head>
        <title>Tack för ditt köp - Makerspace Webshop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ STATIC }}/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="{{ STATIC }}/style.css" />
        <script src='{{ STATIC }}/uikit/js/uikit.min.js'></script>
        <script src='{{ STATIC }}/uikit/js/uikit-icons.min.js'></script>
        {% include 'meta.html' %}
        <script>
            window.transactionId = {{ transaction_id }};
        </script>
        <script src='{{ STATIC }}/js/receipt.js'></script>
    </head>
    <body>
        <div id="single-page-content" class="receipt">
            <div class="header-logo">
                <a href="/shop"><img src='{{ STATIC }}/images/logo-transparent-500px-300x210.png' /></a>
            </div>
            <div id="receipt-content"></div>
            <div class="text-navigation-footer">
                <a href='{{ url("member") }}'>Medlemsvy</a>
                <a href='{{ url("member/history") }}'>Köphistorik</a>
                <a href='{{ url("") }}'>Webshop</a>
            </div>
        </div>
    </body>
</html>
