@import 'include-media';
$breakpoints: (phone: 320px, tablet: 800px, desktop: 1024px);

$primary-color: #333;

// Breakpoint between mobile and desktop layout
$break-small: 480px;
$break-medium: 600px;

html, body {
	height: 100%;
}

.uk-button {
	border-radius: 2px;
}

#root {
	// position: absolute;
	width: 100%;
	// left: 0px;
	// right: 0px;
	display: flex;
	flex-direction: row;
	@include media("<=tablet") {
		flex-direction: column;
	}
	color: $primary-color;
	justify-content: center;
}

#left-sidebar {
	flex: 0 0 auto;
	padding: 10px;

	@include media(">tablet") {
		width: 250px;
		box-shadow: rgba(0,0,0,0.1) 0px 0px 10px 0px;

		.sidebar-fixed-content {
			width: 250px - 10px/2;
			position: fixed;
			top: 0px;
			bottom: 0px;
		}
	}

	@include media("<=tablet") {

		.sidebar-fixed-content {
			width: 100%;
			text-align: center;

			img {
				width: 50%;
				max-width: 250px;
			}
		}
	}

	// Required for the delete button to be placed on the same row as the category
	li a {
		display: inline-block;
	}
}

#content {
	max-width: 800px;
	padding: 10px;
	overflow: hidden;
	@include media(">tablet") {
		padding-top: 200px;
	}
	flex: 1 1 auto;

	.product-amount, .product-price, .product-unit {
		@include media("<=tablet") {
			display: none;
		}
	}
}

.product.active {
	background: #bfddfc;
}

.product-list {
	list-style: none;
	padding-left: 10px;

	h3 {
		margin-bottom: 0px;
		margin-top: 20px;
	}
}

.number-add {
	text-align: center;
	padding: 0px;
}

.product {
	font-size: 11pt;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30px;
	padding: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: hidden;

	@include media("<=tablet") {
		border-bottom: 1px solid #676768;
	}

	.uk-button {
		flex: 0 1 50px;
		color: #fff;
		margin-left: 4px;
		margin-right: 4px;
		text-transform: none;
		min-width: 0px;
	}

	@include media("<=tablet") {
		.number-add {
			display: none;
		}
	}

	.product-title {
		flex: 1 1 auto;
		color: #333;
		padding-top: 5px;
		margin-right: 10px;
		padding-left: 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	input {
		flex: 0 1 auto;
		text-transform: none;
		border-radius: 2px 0px 0px 2px;
	}

	.product-price {
		white-space: pre;
		padding-top: 5px;
		margin-right: 10px;
		padding-left: 10px;
	}
	.product-amount {
		max-width: 45px;
		border-left: 1px solid #EEE;
		border-top: 1px solid #EEE;
		border-bottom: 1px solid #EEE;
		padding-right: 6px;

		::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		-moz-appearance: textfield;
		text-align: right;
		font-size: 10pt;
	}

	.product-unit {
		border-top: 1px solid #EEE;
		border-right: 1px solid #EEE;
		border-bottom: 1px solid #EEE;
		width: 40px;
		padding-top: 3px;
		text-align: center;
		background: #EEE;
		font-weight: bold;
		color: #666;
		margin-right: 5px;
		border-radius: 0px 2px 2px 0px;
	}
}

#edit.active {
	opacity: 1;
	visibility: visible;
}

#edit {
	position: fixed;
	right: 10px;
	width: 100px;
	height: 50px;
	top: 10px;
	border: 1px solid #AAA;
	border-radius: px;
	opacity: 0;
	transition: opacity 500ms;
	transition: background 500ms;
	visibility: hidden;

	span {
		margin-right: 8px;
	}
}

#edit.edit-mode {
	background: #f0506e;
	color: #FFF;
	border: 1px solid #962d41;
}

.edit.active {
	opacity: 1;
	visibility: visible;
}
.edit {
	opacity: 0;
	display: inline-block;
	visibility: hidden;
	transition: opacity 500ms;
}

.edit-invisible.active {
	width: 0px;
	flex-basis: 0px;
	min-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: none;
	opacity: 0;
	visibility: hidden;
}

.edit-display {
	opacity: 1;
	visibility: visible;
}

.edit-display:not(.active) {
	opacity: 0;
	width: 0px;
	flex-basis: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	visibility: hidden;
}

.product:hover .edit-display.active {
	opacity: 1.0;
	visibility: visible;
}

.product-add {
	margin-left: 24px;
}

.category-add {
}

.category-edit-box {
	position: absolute;
	right: 0px;
	display: inline-block;

	.category-delete, .category-edit {
		margin: 2px;
		line-height: 12px;
		height: 28px;
	}
}

.progress-spinner {
	// visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s linear 0.2s;
	position: absolute;
	left: 5px;
	top: 4px;
}

.progress-spinner.progress-spinner-visible {
	opacity: 1;
	transition: opacity 0.0s linear 0s;
	// visibility: visible;
}


#pay-module.non-empty {
	border-color: #7C7;

	#pay-module-open-button {
		background: #7C7;
	}
}

#pay-module {
	padding-left: 10px;
	padding-right: 10px;
}

#pay-module button, #pay-button {
	margin-top: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-transform: none;

	// Required for progress spinner
	position: relative;

	&:disabled {
		background: #CCC;
	}
}

#pay-login {
	display: none;
}

#pay-login.active {
	display: block;
}

#pay {
	display: none;
}

#pay.active {
	display: block;
}

#product-save {
	// Required for progress spinner
	position: relative;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
	background-color: white;
	// height: 40px;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

#card-errors {
	font-size: 10pt;
	margin-left: 10px;
	margin-top: 5px;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}


// Product edit form

.product-edit-form {
	width: 600px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;

	>div {
		margin-top: 5px;
	}

	.product-edit-price {
		display: flex;
		flex-direction: row;

		input {
			display: inline-block;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		span {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			padding-left: 12px;
			padding-right: 12px;
			text-align: center;
			display: inline-block;
			background-color: #f9f9f9;
			border-width: 1px 1px 1px 0px;
			border-style: solid;
			border-color: #e5e5e5;
			font-weight: bold;
			padding-top: 6px;
		}
	}

	label {
		padding-left: 1px;
	}

	input, textarea, select {
		border-radius: 3px;
	}

	button#product-save, button#product-cancel {
		margin-top: 20px;
		min-width: 120px;
	}

	.product-image img {
		max-height: 100px;
		margin-right: 5px;
	}
}


.receipt-item {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #EEE;

	.product-title {
		color: white;
		flex: 5;
	}

	a.product-title {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.receipt-item-count {
		flex: 1;
		min-width: 100px;
		text-align: right;
	}

	.receipt-item-amount {
		flex: 1;
		min-width: 100px;
		text-align: right;
	}
}

#single-page-content {
	box-sizing: content-box;
	min-width: 320px;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;

	@include media(">550px") {
		margin-top: 100px;
		margin-bottom: 50px;
	}
}

.header-logo {
	text-align: center;
	// Fix width and height to ensure page layout doesn't change as the image is loaded
	img {
		height: 210px;
		width: 300px;
	}
}

.text-navigation-footer {
	text-align: center;
	a {
		color: #8bbdef;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.receipt {
	padding-left: 20px;
	padding-right: 20px;

	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
}

.receipt-message {
	text-align: center;
	color: #CCC;
}

#purchase-history {
	padding-top: 100px;
	box-sizing: content-box;
	min-width: 400px;
	max-width: 580px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;

	h1 {
		margin-bottom: 0px;
	}

	.text-navigation-footer {
		color: #8bbdef;
	}
}

.history-item-pending, .history-item-completed {
	h3 {
		background: #469ABE;
	}
	.receipt-items {
		background: #2785AD;
	}
	.receipt-amount {
		background: #07719F;
	}
}

.history-item-failed {
	h3 {
		background: #BE4646;
	}
	.receipt-items {
		background: #AD2727;
	}
	.receipt-amount {
		background: #9F1107;
	}
}

.history-item {
	color: #fff;
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 20px;

	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);

	h3 {
		margin-bottom: 0px;

		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 5px;
		padding-top: 5px;

		a {
			font-size: 16pt;
			color: #FFF;
		}
	}

	.receipt-id {
		color: rgba(255, 255, 255, 0.5);
		float: right;
	}

	.receipt-items {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.receipt-item {
		border-bottom: none;
	}

	.receipt-amount {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 18pt;
		display: flex;
		flex-direction: row;

		.receipt-amount-value {
			flex: 5;
			text-align: right;
		}
	}
}

.product-view {
	background: #2785AD;
	color: white;
	overflow: hidden;
	margin-top: 5px;
	padding-top: 0px;
	padding: 0px;
	margin-bottom: 0px;

	@include media(">550px") {
		border-radius: 5px;
		box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	}

	color: white;

	a {
		color: white;
	}

	h1 {
		color: white;
		background: #469ABE;
		text-align: center;
		padding: 20px;
		margin: 0px;
	}

	.product-description {
		padding-left: 20px;
		padding-right: 20px;
	}

	.product-price {
		text-align: center;
		width: 100%;
		display: block;
		background: #07719F;
		height: 40px;
		font-size: 16pt;
		padding-top: 5px;
	}

	.centered-product-count {
		margin-top: 14px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;

		> div {
			background: #07719f;
			border-radius: 10px;
			overflow: hidden;
			border: 1px solid #469abe;
			height: 30px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex: 0 1 200px;
		}

		input {
			outline: none;
			background: none;
			border: none;
			border-right: 1px solid #4699be;
			border-left: 1px solid #4699be;
			padding: 0px 8px 0px 8px;
			margin: 0px;
			display: inline-block;
			color: white;
			text-align: center;
			flex: 0 1 50px;
			font-size: 12pt;
			background: #07719f;
			transition: background 200ms;
			// Note: required in firefox, but not in chrome apparently
			min-width: 0px;

			// Turn off input spinner
			-moz-appearance: textfield;

			&::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
				// Turn off input spinner
				-webkit-appearance: none; 
				margin: 0; 
			}

			&::placeholder {
				color: rgba(255, 255, 255, 0.5);
			}

			&:focus {
				background: #00628f;
			}
		}

		.product-unit {
			text-align: center;
			flex: 0 1 50px;
			padding: 3px 8px 0px 8px;
			border-right: 1px solid #4699be;
		}

		button {
			outline: none;
			color: white;
			margin: none;
			border: none;
			flex: 0 1 50px;
			background: #07719f;
			transition: background 200ms;

			&:focus {
				background: #006895;
			}

			&:hover {
				background: #00628f;
			}
		}
	}

	.product-image {
		display: flex;
		flex-direction: row;
		justify-content: center;

		img {
			border-radius: 3px;
			margin: 5px;
			max-width: 100%;
		}
	}
}

.product-nav-buttons {
	display: flex;
	flex-direction: row;
	width: 100%;

	a {
		display: inline-block;
		color: white;
		background: transparentize(#4699be, 0.3);
		transition: 100ms background;
		border-radius: 5px;
		flex: 1 1 0;
		margin-bottom: 5px;
		padding: 6px 10px 6px 10px;

		&:hover {
			background: #4699be;
			text-decoration: none;
		}
	}

	.product-nav-left {
		margin-right: 5px;
	}

	.product-nav-right {
		margin-left: 5px;
		text-align: right;
	}
}

#cart {
	padding-top: 20px;
	padding-bottom: 10px;
	list-style: none;
	padding-left: 0px;

	li {
		padding-right: 5px;
	}

	.product-delete {
		@include media("<=550px") {
			display: none;
		}
	}
}

.cartpage {
	.text-navigation-footer {
		margin-top: 30px;
	}
}

.empty-cart {
	text-align: center;
	width: 100%;
	padding: 20px;
	font-size: 20pt;
}