<!doctype html>
<html>
    <head>
        <title>Stockholm Makerspace {{ _("Webshop") }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <script>
            localStorage.setItem("token", "{{ token }}");
            let url = new URL(window.location);
            let redirect = url.searchParams.get("redirect");
            window.location.replace(redirect || "/");
        </script>
    </body>
</html>
