<form id="pay">
    <h3>{{ _("Pay with bank card via Stripe") }}</h3>
    <div class="form-row">
        {# <label for="card-element">{{ _("Credit or debit card") }}</label> #}
        <div id="payment_element"></div>
        <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
    </div>

    <button
        type="button"
        id="pay-button"
        class="spinner-button uk-button uk-button-default uk-button-primary"
        disabled
    >
        <div class="progress-spinner" uk-spinner></div>
        <span>{{ _("Pay") }}<span id="cart-sum"></span></span>
    </button>
</form>
