<!DOCTYPE html>
<html>
    <head>
        <title>Bli medlem, Become a member - Stockholm Makerspace</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ STATIC }}/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="{{ STATIC }}/style.css" />
        <script src='{{ STATIC }}/uikit/js/uikit.min.js'></script>
        <script src='{{ STATIC }}/uikit/js/uikit-icons.min.js'></script>
        <script src="https://js.stripe.com/v3/"></script>
        {% include 'meta.html' %}
        <script src='{{ STATIC }}/js/register.js'></script>
    </head>
    <body>
        {% include 'banner.html' %}
        <form class="product-edit-form uk-form-stacked uk-margin-xlarge-bottom">
            <div class="header-logo">
                <img src='{{ STATIC }}/images/logo-transparent-500px-300x210.png' />
            </div>
            <h1>Bli medlem / Become a member</h1>
            <div>
                <label for="firstname" class="uk-form-label">Förnamn / First name</label>
                <input required id="firstname" required class="uk-input" type="text" placeholder="" required maxlength="255"/>
            </div>
            <div>
                <label for="lastname" class="uk-form-label">Efternamn / Last name</label>
                <input required id="lastname" required class="uk-input" type="text" placeholder=""  maxlength="255"/>
            </div>
            <div>
                <label for="email" class="uk-form-label">E-post / Email</label>
                <input required id="email" required class="uk-input" type="email" placeholder="" required  maxlength="255"/>
            </div>
          <!-- Disabled until we can validate phone number on register, we don't want to store unvalidated phone numbers.
            <div>
                <label for="phone" class="uk-form-label">Telefonnummer / Phone number</label>
                <input id="phone" class="uk-input" type="text" placeholder="" maxlength="255"/>
            </div>
            -->
            <div>
                <label for="address_zipcode" class="uk-form-label">Postnummer / Zipcode</label>
                <input id="address_zipcode" class="uk-input" required type="text" pattern="[0-9 ]{0,6}"/>
            </div>
            <!-- <div>
                <label for="address_street" class="uk-form-label">Address</label>
                <input id="address_street" class="uk-input" type="text" placeholder="" />
            </div>
            <div>
                <label for="address_extra" class="uk-form-label">Adress (extra)</label>
                <input id="address_extra" class="uk-input" type="text" placeholder="Extra adressrad, t ex C/O adress" />
            </div>
            <div class="uk-margin-bottom">
                <label for="address_city" class="uk-form-label">Postort / City</label>
                <input id="address_city" class="uk-input" type="text" placeholder="" />
            </div> -->

            <div id="products"></div>

            <h3>English</h3>

            <p>The starter pack gives you one year of membership in the association and 60 days of lab membership at a discounted price. The lab access time starts after your key is retrieved during a "nyckelutlämning" (key handout) (take a look at the <a target="_blank" href="https://www.makerspace.se/kalendarium">calendar</a> for the next date).</p>

            <p><strong>You must be at least 16 years old to purchase lab membership!</strong></p>
            <p><strong>We do not allow commercial use of the premises!</strong></p>

            <p>You can also choose to buy just the annual membership in the association. Lab access can be purchased separately in the <a target="_blank" href="/shop">webshop</a>. This is slightly more expensive than the package price.</p>
            <p><strong>Buying the annual membership only allows you to attend courses and the yearly meeting. You need to purchase lab membership to work in the space outside of courses.</strong></p>
            <h3>Svenska</h3>

            <p>Startpaketet ger dig årsmedlemsskap i föreningen samt 60 dagars labaccess till ett paketpris. Labaccessen börjar räknas efter uthämtad nyckel på en nyckelutlämning (se <a target="_blank" href="https://www.makerspace.se/kalendarium">kalendariet</a> för nästa tillfälle).</p>
            <p><strong>Du måste vara minst 16 för att köpa labbmedlemskap!</strong></p>
            <p><strong>Vi tillåter inte kommersiellt bruk av lokalerna!</strong></p>
            <p>Du kan istället välja att köpa endast årsmedlemsskap i föreningen. Labaccess kan köpas separat i <a target="_blank" href="/shop">webshoppen</a>. Detta är något dyrare än paketpriset.</p>
            <p><strong>Köper du årsmedlemskap så kan du vara med på kurser och årsmötet, men du måste köpa labaccess för att vistas i lokalen utanför kursverksamhet.</strong></p>
            {% include 'payment_form.html' %}
        </form>
    </body>
</html>
