<!doctype html>
<html>
    <head>
        <title>{{ _("Statistics") }} - Stockholm Makerspace</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ STATIC }}/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="{{ STATIC }}/style.css" />
        <script src="{{ STATIC }}/uikit/js/uikit.min.js"></script>
        <script src="{{ STATIC }}/uikit/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/sv.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.6.6/chartjs-plugin-zoom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
        {% include 'meta.html' %}
        <script src="{{ STATIC }}/js/statistics.js"></script>
    </head>
    <body>
        <div id="single-page-content" class="statistics-page">
            <h1>{{ _("Statistics for the makerspace") }}</h1>
        </div>
    </body>
</html>
