# Keeping all dependencies in one file for simplicity. Pyinstaller
# will only pick direct depencencies into the windows runtime.

# Runtime dependencies
pyodbc
sqlalchemy
pytz
psutil
requests

# Build/test dependencies
pyinstaller
pip
nose
factory_boy
hypothesis
pycodestyle
