# Runtime requirements
flask
flask_cors
sqlalchemy>=1.4.9,<2.0
gunicorn
rocky>=1,<2
PyMySQL
requests
python-dotenv
bcrypt
stripe
jsonschema
jinja2
pytz
ipython
Pillow
Phonenumbers
schedule
python-dateutil
types-python-dateutil

dataclasses_json

# Test requirements
pytest<7.2.0 # https://github.com/pytest-dev/pytest/issues/10420 remove version limitation when fixed
pytest-parallel<7.2.0 # https://github.com/pytest-dev/pytest/issues/10420 remove version limitation when fixed
selenium
faker
