# Runtime requirements
flask
flask_cors
sqlalchemy>=1.4.9
gunicorn
rocky>=1,<2
PyMySQL
requests
python-dotenv
bcrypt
stripe
jsonschema
jinja2
pytz
ipython
Pillow

# Test requirements
pytest
pytest-parallel
selenium
faker
