name: Build and run tests for makeradmin

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install prerequisites
        run: |
          sudo apt install -y python3-pip
          pip3 install docker-compose
      - name: List versions
        run: |
          docker --version
          docker-compose --version
      - uses: actions/checkout@v2
      - name: Build docker
        run: make build
      - name: Run tests
        run: make test
