name: Build multiaccess app

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install prerequisites
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip unixodbc-dev
    - uses: actions/checkout@v2
    - name: Initialize
      run: make -C multiaccess-program init
    - name: Build distributable
      run: make -C multiaccess-program dist
    - name: Run tests
      run: make -C multiaccess-program test